@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

body {
  font-family: var(--font-sans);
  background-color: #f9fafb;
  color: #111827;
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
  }
  body {
    background-color: #0f172a;
    color: #f9fafb;
  }
}
